table, caption, th, td {
    border: 1px solid #e7f0ed;
    border-collapse: collapse;
}

caption, th, td {
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 15px;
    padding-left: 15px;
}

table {
    font-family: 'Ubuntu-light', sans-serif;
    text-align: center;
}

th {
    font-family: 'Ubuntu-regular', sans-serif;
    font-size: 12pt;
    color: white;
    background-color: #628ca6;
}

caption {
    font-family: 'Ubuntu-medium', sans-serif;
    font-style: bold;
    font-size: 18pt;
    color: black;
    background-color: #7fb9c2;
}
tfoot {
    font-family: 'Ubuntu-light', sans-serif;
    font-size: 10pt;
    background-color: #7fb9c2;
}

tr:nth-child(even) {background-color: #e7ffed}

tr:nth-child(odd) {background-color: #e7f0ed}
