table caption th td {
    border: 1px solid lightgrey;
    border-collapse: collapse;
}

td {
    padding: 7px 10px;
}

table {
    font-family: 'Ubuntu-light', sans-serif;
    text-align: center;
    box-shadow: 3px 3px 20px grey;
}

th {
    padding: 5px 10px;
    font-family: 'Ubuntu-regular', sans-serif;
    font-size: 12pt;
    color: white;
    background-color: #628ca6;
}

caption {
    padding: 5px 10px;
    font-family: 'Ubuntu-medium', sans-serif;
    font-style: bold;
    font-size: 18pt;
    color: black;
    background-color: #7fb9c2;
}

tfoot {
    font-family: 'Ubuntu-light', sans-serif;
    font-size: 10pt;
    background-color: #7fb9c2;
}

tbody tr:nth-child(even) {
    background-color: #e7ffed
}

tbody tr:nth-child(odd) {
    background-color: #e7f0ed
}

tbody tr:nth-child(6) td:nth-child(1) {
    font-family: 'Ubuntu-lightitalic', sans-serif;
}

tbody tr:nth-child(5) td:nth-child(3) {
    background-color: #628ca6;
    color: white;
}
