/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */
html{
    background-color: #FCFDF2;
}
body {
  font-size: 16px;
  /* Declare the base font-family - from google font api or other */
}

header, nav, main, footer {
    max-width: 900px;
    margin:auto;
}

header {}
header h1 {
    text-align: center;
    font-family: "Helvetica Neue";
    font-weight: lighter;
    font-size: 36px;
    position: relative;
    text-align: left;
    top: 18px;
    left: 10px;
    color: #6F8C9B;
}
header figure.logo {float:left;
   margin: 0 2% 0 0;
}
header .subheading {
    color: #B2C1C8;
    font-family: "Helvetica Neue";
    font-weight: lighter;
    font-size: 14pt;
    text-align: left;
    padding-bottom: 10px;
}

nav{}
nav ul li {}
nav ul li a {}
nav ul li.active a {}
nav ul li a:hover {}

main {background-color: #FCFDF2; }
main h2 {
    font-family: "Helvetica Neue";
    font-weight: bold;
    color: #CD9976; }
main figure { margin: 0 0 .2rem 2%; width:96%; }
main figure img { width: 100%; }

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 10px;
}

.responsive-image {
  max-width: 100%;
    padding: 10px;
}

.cell img {
  display: block;
}

.caption{
    font-family: "Helvetica Neue";
    font-weight: lighter;
    font-size: 14pt;
    text-align: left;
}

footer {
    font-family: "Helvetica Neue";
    font-weight: normal;
    font-size: 10pt;
}
footer aside {text-align: center; }
footer>p {
    padding: 15px;
    background-color: #F6FBCD;
    text-align: center; }

.hamburger {
    display: block;
    position: absolute;
    top: 2.0rem;
    right: 1.25rem;
}

.navigation {
    list-style: none;
    padding-left: 0;
}

.navigation li {
    display: none;
}


/* When the responsive class is added to the unordered list on hamburger button click
placed in a media query in order to accomodate the toggle when in wider view*/

@media only screen and (max-width: 37.5em) {
    .navigation.responsive {
        position: relative;
    }
    .navigation.responsive li {
        display: block;
        width: 100%;
        margin: 2px 0;
    }
    .navigation.responsive li a {
        padding: 1rem;
        text-align: center;
        display: block;
        text-decoration: none;
    }
    .navigation.responsive li a:hover {
        background-color: #ddd;
    }
}


/* The following can be used in lieu of a button with a HTML entity which may not be dispalyed correctly in all browsers - or a SVG option is good - button size issue
.hamburger {
    content: "";
    position: absolute;
    right: 1.5rem; top: 1.8rem;
    display: block;
    width: 1.25rem; height: 0;
    -webkit-box-shadow: 1px 10px 1px 1px #eee,1px 16px 1px 1px #eee,1px 22px 1px 1px #eee;
    box-shadow: 0 10px 0 1px #eee,0 16px 0 1px #eee,0 22px 0 1px #eee;
}*/

@media only screen and (min-width: 37.5em) {
    nav {
        margin: 0 auto;
        max-width: 600px;
    }

    .hamburger {
        display: none;
    }
    .navigation {
        background-color: #6F8C9B;
        overflow: hidden;
        text-align: center;
    }
    .navigation li {
        display: inline-block;
        margin-left: .25rem;
    }
    .navigation a {
        display: block;
        color: #fff;
        padding: .5rem;
        text-align: center;
        text-decoration: none;
    }
    .navigation a:hover {
        color: #B2C1C8;
        background-color: #777;
    }
}

